/* screen - full-project */

.full-project {
  align-items: flex-start;
  background-color: var(--main800);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3389px;
  overflow: hidden;
  width: 1440px;
}

.full-project .overlap-group4 {
  height: 2192px;
  position: relative;
  width: 1440px;
}

.full-project .mask-group-1 {
  height: 725px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.full-project .rectangle-255 {
  background-color: var(--main900);
  border: 1px none;
  height: 1467px;
  left: 0;
  position: absolute;
  top: 725px;
  width: 1440px;
}

.full-project .frame-16 {
  border: 1px none;
  display: flex;
  height: 652px;
  left: 150px;
  position: absolute;
  top: 1460px;
  width: 1141px;
}

.full-project .group-131 {
  display: flex;
  margin-top: 7px;
  width: 1141px;
}

.full-project .frame-15 {
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 642px;
  width: 550px;
}

.full-project .group-118 {
  display: flex;
  flex-direction: column;
  height: 59px;
  width: 473px;
}

.full-project .how-does-barfly-work-for-you {
  height: 40px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
  width: 471px;
}

.full-project .group-14 {
  height: 19px;
  margin-left: 129px;
  width: 155.8px;
}

.full-project .just-enter-an-addres {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: 81px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 20px;
  opacity: 0.7;
}

.full-project .frame-9 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 453px;
  margin-top: 32px;
  width: 537px;
}

.full-project .group-15 {
  display: flex;
  height: 53px;
  margin-right: -2px;
  min-width: 539px;
}

.full-project .icon-check_mark-1 {
  height: 21.82px;
  margin-top: 4.5px;
  width: 19.3px;
}

.full-project .access-the-real-time {
  height: 53px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.7px;
  opacity: 0.9;
  width: 508px;
}

.full-project .group-20 {
  display: flex;
  height: 26px;
  min-width: 456px;
}

.full-project .icon-check_mark {
  height: 19.14px;
  margin-top: 4.6px;
  width: 19.14px;
}

.full-project .select-a-bar-and-vie {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.9px;
  opacity: 0.9;
  white-space: nowrap;
  width: 425px;
}

.full-project .group-25 {
  display: flex;
  height: 26px;
  min-width: 522px;
}

.full-project .icon-check_mark-2 {
  height: 19.3px;
  margin-top: 4.6px;
  width: 19.3px;
}

.full-project .choose-among-dozens {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.7px;
  opacity: 0.9;
  white-space: nowrap;
  width: 491px;
}

.full-project .group-18 {
  display: flex;
  height: 26px;
  min-width: 333px;
}

.full-project .view-high-quality-ph {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.9px;
  opacity: 0.9;
  white-space: nowrap;
  width: 302px;
}

.full-project .group-24 {
  display: flex;
  height: 26px;
  min-width: 335px;
}

.full-project .icon-check_mark-3 {
  height: 19.14px;
  margin-top: 4.4px;
  width: 19.14px;
}

.full-project .see-how-expensive-th {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.9px;
  opacity: 0.9;
  white-space: nowrap;
  width: 304px;
}

.full-project .group-19 {
  display: flex;
  height: 26px;
  min-width: 529px;
}

.full-project .icon-check_mark-4 {
  height: 19.3px;
  margin-top: 2.6px;
  width: 19.3px;
}

.full-project .get-a-reliable-bar-r {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.7px;
  opacity: 0.9;
  white-space: nowrap;
  width: 498px;
}

.full-project .group-26 {
  display: flex;
  height: 26px;
  min-width: 171px;
}

.full-project .icon {
  height: 19.3px;
  margin-top: 3.6px;
  width: 19.3px;
}

.full-project .track-your-favorites {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.7px;
  opacity: 0.9;
  white-space: nowrap;
  width: 140px;
}

.full-project .group-27 {
  display: flex;
  height: 26px;
  min-width: 444px;
}

.full-project .get-walk-drive-dir {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.7px;
  opacity: 0.9;
  white-space: nowrap;
  width: 413px;
}

.full-project .group-28 {
  display: flex;
  height: 26px;
  min-width: 394px;
}

.full-project .discover-it-all-on-a {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.7px;
  opacity: 0.9;
  white-space: nowrap;
  width: 363px;
}

.full-project .rectangle-259 {
  height: 640px;
  margin-left: 88px;
  margin-top: 1px;
  width: 503px;
}

.full-project .frame-28 {
  align-items: flex-start;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border: 1px none;
  display: flex;
  height: 725px;
  left: 0;
  min-width: 1440px;
  padding: 20px 150px;
  position: absolute;
  top: 0;
}

.full-project .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  min-height: 416px;
  width: 375px;
}

.full-project .frame-10 {
  align-items: flex-end;
  border: 0.61px none;
  display: flex;
  height: 30px;
  min-width: 177px;
}

.full-project .overlap-group {
  height: 31px;
  margin-bottom: -1.41px;
  position: relative;
  width: 177px;
}

.full-project .barfly {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 17.5px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 17.52px;
  position: absolute;
  text-align: center;
  top: 5px;
}

.full-project .group-27-1 {
  border: 1.35px solid;
  border-color: var(--white);
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 177px;
}

.full-project .group-112 {
  display: flex;
  flex-direction: column;
  height: 304px;
  margin-top: 82px;
  width: 375px;
}

.full-project .a-great-night-out-on-demand {
  color: var(--white);
  font-family: var(--font-family-urbanist);
  font-size: 56px;
  font-weight: 800;
  height: 180px;
  letter-spacing: 1.12px;
  line-height: 60px;
  width: 339px;
}

.full-project .dont-leave-your-ent {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 15px;
  font-weight: 400;
  height: 18px;
  letter-spacing: 0;
  margin-top: 20px;
  opacity: 0.9;
  width: 371px;
}

.full-project .group-111 {
  height: 54.45px;
  margin-top: 32px;
  width: 162.88px;
}

.full-project .frame-2 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  border-radius: 100px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-left: 628px;
  padding: 12px 26px;
  width: fit-content;
}

.full-project .get-the-app {
  color: var(--main900);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  margin-top: -1px;
  width: fit-content;
  white-space: nowrap;
}

.full-project .group-146 {
  align-items: center;
  background-color: var(--main800);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  left: 150px;
  min-height: 864px;
  padding: 50px 52px;
  position: absolute;
  top: 519px;
  width: 1140px;
}

.full-project .frame-3 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 1px;
  width: fit-content;
}

.full-project .finding-your-bar-is-easy {
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.full-project .barfly-shows-you-wh {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  opacity: 0.7;
  text-align: center;
  width: 609px;
}

.full-project .group-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 48px;
  min-width: 1032px;
}

.full-project .group-145 {
  display: flex;
  flex-direction: column;
  height: 506px;
  width: 337px;
}

.full-project .step-1 {
  height: 25px;
  letter-spacing: 0.44px;
  line-height: 25px;
  margin-left: 133px;
  text-align: center;
  white-space: nowrap;
  width: 68px;
}

.full-project .group-1 {
  height: 20px;
  margin-left: 85px;
  margin-top: 10px;
  width: 164px;
}

.full-project .mask-group {
  height: 361px;
  margin-top: 21px;
  width: 333px;
}

.full-project .search-the-area-wher {
  height: 50px;
  letter-spacing: 0.34px;
  line-height: 25px;
  margin-left: 24px;
  margin-top: 19px;
  text-align: center;
  width: 286px;
}

.full-project .group-144 {
  display: flex;
  flex-direction: column;
  height: 506px;
  margin-left: 11px;
  width: 337px;
}

.full-project .step {
  height: 25px;
  letter-spacing: 0.44px;
  line-height: 25px;
  margin-left: 130px;
  text-align: center;
  white-space: nowrap;
  width: 73px;
}

.full-project .get-the-best-options {
  height: 50px;
  letter-spacing: 0.34px;
  line-height: 25px;
  margin-left: 15px;
  margin-top: 19px;
  text-align: center;
  width: 304px;
}

.full-project .group-143 {
  display: flex;
  flex-direction: column;
  height: 506px;
  margin-left: 10px;
  width: 337px;
}

.full-project .receive-guidance-to {
  height: 50px;
  letter-spacing: 0.34px;
  line-height: 25px;
  margin-left: 26px;
  margin-top: 19px;
  text-align: center;
  width: 282px;
}

.full-project .group-104 {
  height: 52px;
  margin-right: 0.44px;
  margin-top: 40px;
  width: 156px;
}

.full-project .group-132 {
  display: flex;
  flex-direction: column;
  height: 1117px;
  margin-top: 80px;
  width: 1440px;
}

.full-project .frame-29 {
  border: 1px none;
  display: flex;
  height: 426px;
  margin-left: 151px;
  width: 1139px;
}

.full-project .group-115 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 426px;
  width: 1143px;
}

.full-project .group-28-1 {
  height: 59px;
  position: relative;
  width: 643px;
}

.full-project .vector {
  height: 19px;
  left: 200px;
  position: absolute;
  top: 40px;
  width: 163px;
}

.full-project .if-they-had-the-barf {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.full-project .overlap-group-container {
  align-items: flex-start;
  display: flex;
  height: 320px;
  margin-right: 4px;
  margin-top: 47px;
  min-width: 1139px;
}

.full-project .overlap-group1 {
  align-items: flex-start;
  background-color: var(--main900);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  padding: 24px 10px;
  width: 369px;
}

.full-project .group-3 {
  height: 60px;
  width: 102px;
}

.full-project .lips-are-kind-of-lik {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0.13px;
  line-height: 24px;
  margin-right: 3px;
  margin-top: 32px;
  min-height: 72px;
  opacity: 0.8;
  width: 320px;
}

.full-project .group-32 {
  display: flex;
  margin-left: 13px;
  margin-top: 48px;
  width: 177px;
}

.full-project .ellipse {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.full-project .group-29 {
  display: flex;
  flex-direction: column;
  height: 44px;
  margin-left: 10px;
  margin-top: 8px;
  width: 111px;
}

.full-project .name {
  height: 20px;
  letter-spacing: 0.34px;
  width: 200px;
}

.full-project .american-model {
  height: 23px;
  letter-spacing: 0.24px;
  line-height: 23px;
  margin-top: 1px;
  opacity: 0.4;
  white-space: nowrap;
  width: 100px;
}

.full-project .group {
  align-items: flex-start;
  background-color: var(--main900);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-height: 320px;
  padding: 24px 10px;
  width: 369px;
}

.full-project .overlap-group-1 {
  align-self: flex-end;
  height: 72px;
  margin-right: 14px;
  margin-top: 32px;
  position: relative;
  width: 320px;
}

.full-project .you-better-realize-y {
  left: 0;
  letter-spacing: 0.12px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 320px;
}

.full-project .x61fb0fc9ae2d48366a9c45f0_emoji-fire-1-2 {
  height: 14px;
  left: 138px;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 14px;
}

.full-project .group-33 {
  display: flex;
  margin-left: 15px;
  margin-top: 48px;
  width: 172px;
}

.full-project .group-30 {
  display: flex;
  flex-direction: column;
  height: 44px;
  margin-left: 10px;
  margin-top: 8px;
  width: 106px;
}

.full-project .cardi-b {
  height: 20px;
  letter-spacing: 0.34px;
  width: 63px;
}

.full-project .american-rapper {
  height: 23px;
  letter-spacing: 0.24px;
  line-height: 23px;
  margin-top: 1px;
  opacity: 0.4;
  white-space: nowrap;
  width: 102px;
}

.full-project .barfly-k-os-the-barri {
  align-self: flex-end;
  letter-spacing: 0.12px;
  line-height: 24px;
  margin-right: 14px;
  margin-top: 32px;
  min-height: 72px;
  opacity: 0.8;
  width: 320px;
}

.full-project .group-106 {
  display: flex;
  margin-left: 14px;
  margin-top: 48px;
  width: 217px;
}

.full-project .group-30-1 {
  display: flex;
  flex-direction: column;
  height: 44px;
  margin-left: 10px;
  margin-top: 8px;
  width: 151px;
}

.full-project .name-1 {
  height: 20px;
  letter-spacing: 0.34px;
  width: 147px;
}

.full-project .american-actor {
  height: 23px;
  letter-spacing: 0.24px;
  line-height: 23px;
  margin-top: 1px;
  opacity: 0.4;
  white-space: nowrap;
  width: 94px;
}

.full-project .frame-30 {
  background-image: url(../img/rectangle-263@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  height: 399.31px;
  margin-top: 80px;
  width: 1440px;
}

.full-project .alexander-popov-2-gn {
  height: 399px;
  margin-left: 151px;
  margin-top: 0;
  width: 547px;
}

.full-project .group-119 {
  display: flex;
  flex-direction: column;
  height: 172px;
  margin-left: 95px;
  margin-top: 114px;
  width: 300px;
}

.full-project .find-your-bar {
  color: var(--white);
  font-family: var(--font-family-urbanist);
  font-size: 18px;
  font-weight: 600;
  height: 22px;
  letter-spacing: 1.08px;
  width: 130px;
}

.full-project .group-105 {
  display: flex;
  flex-direction: column;
  height: 142px;
  margin-top: 8px;
  width: 298px;
}

.full-project .group-39 {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 300px;
}

.full-project .download-barfly {
  height: 40px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
  width: 268px;
}

.full-project .group-14-1 {
  height: 20px;
  margin-left: 134px;
  width: 164px;
}

.full-project .download_on_the_-app {
  height: 52px;
  margin-top: 30px;
  width: 155.56px;
}

.full-project .frame-9-1 {
  align-items: center;
  background-color: var(--main800);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 212px;
  padding: 16px 146px;
}

.full-project .group-container-1 {
  align-items: center;
  display: flex;
  margin-top: 43px;
  min-width: 1140px;
}

.full-project .group-38 {
  display: flex;
  width: 207px;
}

.full-project .frame-1 {
  align-items: flex-end;
  border: 0.72px none;
  display: flex;
  height: 35px;
  min-width: 207.08px;
}

.full-project .overlap-group1-1 {
  height: 37px;
  margin-bottom: -1.65px;
  position: relative;
  width: 207px;
}

.full-project .barfly-1 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 20.5px;
  font-weight: 500;
  left: 14px;
  letter-spacing: 20.5px;
  position: absolute;
  text-align: center;
  top: 6px;
}

.full-project .overlap-group-2 {
  align-items: flex-start;
  border: 1.58px solid;
  border-color: var(--white);
  display: flex;
  height: 37px;
  left: 0;
  min-width: 207px;
  padding: 5.4px 14.4px;
  position: absolute;
  top: 0;
}

.full-project .barfly-2 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 20px;
  min-height: 23px;
  min-width: 174px;
  text-align: center;
}

.full-project .group-45 {
  display: flex;
  margin-left: 781px;
  width: 152px;
}

.full-project .group-44 {
  display: flex;
  width: 154px;
}

.full-project .icon-instagram {
  height: 24px;
  margin-top: 1px;
  width: 24px;
}

.full-project .instagram {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxxxl);
  font-weight: 500;
  height: 25px;
  letter-spacing: 0.44px;
  line-height: 25px;
  margin-left: 16px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: 112px;
}

.full-project .vector-1 {
  height: 1px;
  margin-top: 58px;
  width: 1140px;
}

.full-project .flex-row {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 29px;
  margin-top: 14px;
  min-width: 1144px;
}

.full-project .address {
  letter-spacing: 0.6px;
  line-height: 28px;
  min-height: 28px;
  min-width: 326px;
  opacity: 0.5;
  white-space: nowrap;
}

.full-project .group-46 {
  align-self: flex-end;
  display: flex;
  margin-left: 578px;
  opacity: 0.6;
  width: 240px;
}

.full-project .privacy-policy {
  height: 28px;
  letter-spacing: 0.6px;
  line-height: 28px;
  opacity: 0.5;
  white-space: nowrap;
  width: 87px;
}

.full-project .terms-of-service {
  height: 28px;
  letter-spacing: 0.6px;
  line-height: 28px;
  margin-left: 42px;
  opacity: 0.5;
  white-space: nowrap;
  width: 107px;
}
/* screen - responsive */

.responsive {
  align-items: center;
  background-color: var(--main900);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 5198px;
  width: 375px;
}

.responsive .frame-container {
  height: 2171px;
  position: relative;
  width: 375px;
}

.responsive .frame-26 {
  background-image: url(../img/rectangle-268@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 612px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.responsive .frame-10-1 {
  align-items: flex-end;
  border: 0.54px none;
  display: flex;
  height: 26.2px;
  margin-left: 24px;
  margin-top: 41.9px;
  min-width: 155px;
}

.responsive .overlap-group-3 {
  height: 27px;
  margin-bottom: -1.24px;
  position: relative;
  width: 155px;
}

.responsive .barfly-3 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 15.3px;
  font-weight: 500;
  left: 11px;
  letter-spacing: 15.34px;
  position: absolute;
  text-align: center;
  top: 4px;
}

.responsive .group-27-2 {
  border: 1.18px solid;
  border-color: var(--white);
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 155px;
}

.responsive .group-112-1 {
  display: flex;
  flex-direction: column;
  height: 243.46px;
  margin-left: 24px;
  margin-top: 81.9px;
  width: 301px;
}

.responsive .a-great-night-out-on-demand-1 {
  color: var(--white);
  font-family: var(--font-family-urbanist);
  font-size: 44px;
  font-weight: 800;
  height: 144px;
  letter-spacing: 0.88px;
  line-height: 48px;
  width: 266px;
}

.responsive .dont-leave-your-ent-1 {
  height: 14px;
  letter-spacing: 0;
  margin-top: 15.6px;
  opacity: 0.9;
  width: 297px;
}

.responsive .group-111-1 {
  height: 44px;
  margin-top: 25.9px;
  width: 130px;
}

.responsive .frame-20 {
  align-items: center;
  background-color: var(--main800);
  border: 1px none;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 24px;
  padding: 40px 17px;
  position: absolute;
  top: 473px;
  width: fit-content;
}

.responsive .frame-19 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: fit-content;
}

.responsive .frame-3-1 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
}

.responsive .finding-your-bar-is-easy-1 {
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.responsive .barfly-shows-you-wh-1 {
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.7;
  text-align: center;
  width: 293px;
}

.responsive .frame-18 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: fit-content;
}

.responsive .group-121 {
  height: 431.38px;
  margin-right: -3.86px;
  min-width: 293.7px;
}

.responsive .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 431px;
  width: 290px;
}

.responsive .step-1-1 {
  letter-spacing: 0.36px;
  line-height: 21.8px;
  margin-right: 9.25px;
  min-height: 22px;
  min-width: 56px;
  text-align: center;
  white-space: nowrap;
}

.responsive .group-11 {
  height: 17px;
  margin-right: 9.25px;
  margin-top: 9px;
  width: 143px;
}

.responsive .mask-group-3 {
  height: 314px;
  margin-top: 9px;
  width: 290px;
}

.responsive .search-the-area-wher-1 {
  letter-spacing: 0.28px;
  line-height: 21.8px;
  margin-right: 9.43px;
  margin-top: 16px;
  min-height: 44px;
  text-align: center;
  width: 250px;
}

.responsive .group-125 {
  height: 431.38px;
  margin-right: -4px;
  min-width: 293.84px;
}

.responsive .step-2 {
  letter-spacing: 0.36px;
  line-height: 21.8px;
  margin-right: 1.82px;
  min-height: 22px;
  min-width: 59px;
  text-align: center;
  white-space: nowrap;
}

.responsive .group-11-1 {
  height: 17px;
  margin-right: 0.82px;
  margin-top: 9px;
  width: 143px;
}

.responsive .mask-group-2 {
  height: 314px;
  margin-top: 11px;
  width: 290px;
}

.responsive .get-the-best-options-1 {
  letter-spacing: 0.28px;
  line-height: 21.8px;
  margin-right: 1px;
  margin-top: 14px;
  min-height: 44px;
  text-align: center;
  width: 250px;
}

.responsive .group-126 {
  height: 431px;
  margin-right: -4px;
  min-width: 293.84px;
}

.responsive .step-3 {
  letter-spacing: 0.36px;
  line-height: 21.8px;
  margin-left: 8px;
  min-height: 22px;
  min-width: 59px;
  text-align: center;
  white-space: nowrap;
}

.responsive .group-122 {
  height: 17px;
  margin-left: 9px;
  margin-top: 9px;
  width: 143px;
}

.responsive .receive-guidance-to-1 {
  letter-spacing: 0.28px;
  line-height: 21.8px;
  margin-left: 9px;
  margin-top: 14px;
  min-height: 44px;
  text-align: center;
  width: 232px;
}

.responsive .group-1-1 {
  height: 44px;
  min-width: 130px;
}

.responsive .frame-21 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 28px;
  width: fit-content;
}

.responsive .frame-11 {
  border: 1px none;
  height: 108px;
  min-width: 327px;
  position: relative;
}

.responsive .overlap-group-5 {
  height: 47px;
  left: 2px;
  position: absolute;
  top: -1px;
  width: 324px;
}

.responsive .how-does-barfly-work-for-you-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.responsive .vector-2 {
  height: 12px;
  left: 92px;
  position: absolute;
  top: 35px;
  width: 100px;
}

.responsive .just-enter-an-addres-1 {
  left: -8px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.7;
  position: absolute;
  text-align: center;
  top: 51px;
  width: 343px;
}

.responsive .rectangle-260 {
  height: 361.45px;
  min-width: 327px;
  object-fit: cover;
}

.responsive .frame-10-2 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: fit-content;
}

.responsive .group-15-1 {
  display: flex;
  height: 69px;
  margin-right: -2px;
  min-width: 329px;
}

.responsive .icon-check_mark-5 {
  height: 19.3px;
  margin-top: 3px;
  width: 19.3px;
}

.responsive .access-the-real-time-1 {
  height: 69px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.7px;
  opacity: 0.9;
  width: 298px;
}

.responsive .group-2 {
  display: flex;
  height: 44px;
  margin-right: -2px;
  min-width: 329px;
}

.responsive .icon-check_mark-6 {
  height: 19.14px;
  margin-top: 2.5px;
  width: 19.14px;
}

.responsive .select-a-bar-and-vie-1 {
  height: 44px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.9px;
  opacity: 0.9;
  width: 298px;
}

.responsive .icon-check_mark-7 {
  height: 19.3px;
  margin-top: 3.5px;
  width: 19.3px;
}

.responsive .choose-among-dozens-1 {
  height: 44px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.7px;
  opacity: 0.9;
  width: 298px;
}

.responsive .group-18-1 {
  display: flex;
  height: 22px;
  margin-right: -2px;
  min-width: 329px;
}

.responsive .icon-check_mark-8 {
  height: 19.14px;
  margin-top: 2.9px;
  width: 19.14px;
}

.responsive .view-high-quality-ph-1 {
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.9px;
  opacity: 0.9;
  white-space: nowrap;
  width: 298px;
}

.responsive .group-24-1 {
  display: flex;
  height: 23.07px;
  margin-right: -2px;
  min-width: 329px;
}

.responsive .icon-check_mark-9 {
  height: 19.14px;
  margin-top: 3.9px;
  width: 19.14px;
}

.responsive .see-how-expensive-th-1 {
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.9px;
  opacity: 0.9;
  white-space: nowrap;
  width: 298px;
}

.responsive .icon-check_mark-10 {
  height: 19.3px;
  margin-top: 2.6px;
  width: 19.3px;
}

.responsive .get-a-reliable-bar-r-1 {
  height: 44px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.7px;
  opacity: 0.9;
  width: 298px;
}

.responsive .group-26-1 {
  display: flex;
  height: 22.45px;
  margin-right: -2px;
  min-width: 329px;
}

.responsive .icon-1 {
  height: 19.3px;
  margin-top: 3.2px;
  width: 19.3px;
}

.responsive .track-your-favorites-1 {
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.7px;
  opacity: 0.9;
  white-space: nowrap;
  width: 298px;
}

.responsive .get-walk-drive-dir-1 {
  height: 44px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.7px;
  opacity: 0.9;
  width: 298px;
}

.responsive .discover-it-all-on-a-1 {
  height: 44px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.7px;
  opacity: 0.9;
  width: 298px;
}

.responsive .frame-24 {
  align-items: center;
  background-color: var(--main800);
  border: 1px none;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 48px;
  padding: 48px 21px;
  width: fit-content;
}

.responsive .frame-23 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: fit-content;
}

.responsive .group-127 {
  height: 80px;
  margin-right: -2px;
  min-width: 335px;
}

.responsive .overlap-group-6 {
  height: 80px;
  position: relative;
  width: 333px;
}

.responsive .if-they-had-the-barf-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 333px;
}

.responsive .vector-3 {
  height: 11px;
  left: 146px;
  position: absolute;
  top: 34px;
  width: 94px;
}

.responsive .frame-22 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
}

.responsive .group-12 {
  height: 283px;
  margin-right: -2px;
  min-width: 329px;
}

.responsive .overlap-group-4 {
  align-items: flex-start;
  background-color: var(--main900);
  border-radius: 14.18px;
  display: flex;
  flex-direction: column;
  min-height: 283px;
  padding: 20px 8.9px;
  width: 327px;
}

.responsive .group-35 {
  height: 53px;
  margin-top: 1px;
  width: 90px;
}

.responsive .lips-are-kind-of-lik-1 {
  align-self: flex-end;
  letter-spacing: 0.12px;
  line-height: 21.3px;
  margin-right: 6.14px;
  margin-top: 29px;
  min-height: 64px;
  opacity: 0.8;
  width: 292px;
}

.responsive .group-32-1 {
  display: flex;
  margin-left: 11.52px;
  margin-top: 42px;
  width: 165px;
}

.responsive .ellipse-2 {
  height: 54px;
  object-fit: cover;
  width: 54px;
}

.responsive .group-29-1 {
  display: flex;
  margin-left: 10px;
  margin-top: 6px;
  width: 101px;
}

.responsive .group-124 {
  display: flex;
  flex-direction: column;
  height: 42px;
  width: 105px;
}

.responsive .name-2 {
  height: 19px;
  letter-spacing: 0.32px;
  width: 200px;
}

.responsive .american-model-1 {
  height: 21px;
  letter-spacing: 0.22px;
  line-height: 20.4px;
  margin-top: 2px;
  opacity: 0.4;
  white-space: nowrap;
  width: 91px;
}

.responsive .you-better-realize-y-1 {
  align-self: flex-end;
  letter-spacing: 0.12px;
  line-height: 21.3px;
  margin-right: 6.14px;
  margin-top: 29px;
  min-height: 64px;
  opacity: 0.8;
  width: 292px;
}

.responsive .group-32-2 {
  display: flex;
  margin-left: 11.52px;
  margin-top: 42px;
  width: 157px;
}

.responsive .group-29-2 {
  display: flex;
  margin-left: 10px;
  margin-top: 6px;
  width: 93px;
}

.responsive .group-124-1 {
  display: flex;
  flex-direction: column;
  height: 42px;
  width: 97px;
}

.responsive .cardi-b-1 {
  height: 19px;
  letter-spacing: 0.32px;
  width: 70px;
}

.responsive .american-rapper-1 {
  height: 21px;
  letter-spacing: 0.22px;
  line-height: 20.4px;
  margin-top: 2px;
  opacity: 0.4;
  white-space: nowrap;
  width: 93px;
}

.responsive .barfly-k-os-the-barri-1 {
  align-self: flex-end;
  letter-spacing: 0.12px;
  line-height: 21.3px;
  margin-right: 6.14px;
  margin-top: 29px;
  min-height: 67px;
  opacity: 0.8;
  width: 292px;
}

.responsive .group-32-3 {
  display: flex;
  margin-left: 11.52px;
  margin-top: 39px;
  width: 202px;
}

.responsive .group-29-3 {
  display: flex;
  margin-left: 10px;
  margin-top: 6px;
  width: 138px;
}

.responsive .group-124-2 {
  display: flex;
  flex-direction: column;
  height: 42px;
  width: 142px;
}

.responsive .name-3 {
  height: 19px;
  letter-spacing: 0.32px;
  width: 200px;
}

.responsive .american-actor-1 {
  height: 21px;
  letter-spacing: 0.22px;
  line-height: 20.4px;
  margin-top: 2px;
  opacity: 0.4;
  white-space: nowrap;
  width: 86px;
}

.responsive .frame-25 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 49px;
  width: fit-content;
}

.responsive .group-130 {
  display: flex;
  flex-direction: column;
  height: 64.63px;
  min-width: 208.77px;
}

.responsive .find-your-bar-1 {
  color: var(--white);
  font-family: var(--font-family-urbanist);
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 14px;
  letter-spacing: 0.72px;
  margin-left: 64px;
  width: 79px;
}

.responsive .group-39-1 {
  align-items: flex-start;
  display: flex;
  height: 43.09px;
  margin-top: 7.5px;
  min-width: 208.77px;
}

.responsive .overlap-group-7 {
  height: 43px;
  position: relative;
  width: 207px;
}

.responsive .download-barfly-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 28.7px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.responsive .group-14-2 {
  height: 14px;
  left: 89px;
  position: absolute;
  top: 29px;
  width: 118px;
}

.responsive .alexander-popov-2-gn-1 {
  height: 238.52px;
  min-width: 327px;
}

.responsive .overlap-group5 {
  align-items: flex-start;
  background-color: var(--main800);
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  min-height: 280px;
  padding: 20px 24px;
  width: 375px;
}

.responsive .frame-12 {
  align-items: flex-end;
  border: 0.54px none;
  display: flex;
  height: 26px;
  margin-top: 21px;
  min-width: 155px;
}

.responsive .group-45-1 {
  display: flex;
  margin-top: 32px;
  width: 125px;
}

.responsive .group-44-1 {
  display: flex;
  width: 126.89px;
}

.responsive .icon-instagram-1 {
  height: 19.74px;
  margin-left: 0;
  margin-top: 0.8px;
  width: 19.74px;
}

.responsive .instagram-1 {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-work_sans);
  font-size: 18px;
  font-weight: 500;
  height: 21px;
  letter-spacing: 0.36px;
  line-height: 20.6px;
  margin-left: 13.2px;
  margin-top: 0;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: 92px;
}

.responsive .frame-17 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 42px;
  width: fit-content;
}

.responsive .address-1 {
  letter-spacing: 0.6px;
  line-height: 28px;
  margin-top: -1px;
  opacity: 0.5;
  white-space: nowrap;
  width: fit-content;
}

.responsive .frame-17-item {
  letter-spacing: 0.6px;
  line-height: 28px;
  opacity: 0.5;
  white-space: nowrap;
  width: fit-content;
}
@media screen and (max-width: 1439px) {
  .screen.full-project {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .screen.responsive {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .responsive .cardi-b-1 {
    width: 70px;
  }
  .responsive .find-your-bar-1 {
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
}
