/* screen - barfly-landing-page */

.barfly-landing-page {
  align-items: center;
  background-color: var(--main800);
  display: flex;
  flex-direction: column;
  height: 3377px;
  overflow: hidden;
  width: 1440px;
}

.barfly-landing-page .overlap-group5 {
  height: 2180px;
  position: relative;
  width: 1440px;
}

.barfly-landing-page .mask-group {
  height: 725px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.barfly-landing-page .rectangle-255 {
  background-color: var(--main900);
  height: 1455px;
  left: 0;
  position: absolute;
  top: 725px;
  width: 1440px;
}

.barfly-landing-page .frame-27 {
  align-items: center;
  background-color: var(--main800);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  left: 150px;
  min-height: 864px;
  padding: 50px 66px;
  position: absolute;
  top: 516px;
  width: 1140px;
}

.barfly-landing-page .flex-row {
  align-items: flex-end;
  display: flex;
  height: 180px;
  min-width: 756px;
}

.barfly-landing-page .step-1 {
  letter-spacing: 0.44px;
  line-height: 25px;
  min-height: 25px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}

.barfly-landing-page .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  min-height: 180px;
  width: 609px;
}

.barfly-landing-page .frame-3 {
  display: flex;
  flex-direction: column;
  height: 108px;
  width: 609px;
}

.barfly-landing-page .finding-your-bar-is-easy {
  height: 40px;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 128.5px;
  text-align: center;
  white-space: nowrap;
  width: 352px;
}

.barfly-landing-page .barfly-shows-you-whi {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: 52px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 16px;
  opacity: 0.7;
  text-align: center;
}

.barfly-landing-page .step-2 {
  letter-spacing: 0.44px;
  line-height: 25px;
  margin-top: 47px;
  min-height: 25px;
  min-width: 73px;
  text-align: center;
  white-space: nowrap;
}

.barfly-landing-page .step-3 {
  letter-spacing: 0.44px;
  line-height: 25px;
  min-height: 25px;
  min-width: 73px;
  text-align: center;
  white-space: nowrap;
}

.barfly-landing-page .group-container {
  align-items: flex-start;
  display: flex;
  margin-right: 2.0px;
  margin-top: 11px;
  min-width: 850px;
}

.barfly-landing-page .group-11 {
  height: 20px;
  width: 164px;
}

.barfly-landing-page .group-12 {
  height: 20px;
  margin-left: 181px;
  width: 164px;
}

.barfly-landing-page .group-13 {
  height: 20px;
  margin-left: 177px;
  width: 164px;
}

.barfly-landing-page .flex-row-1 {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  margin-top: 21px;
  min-width: 997px;
}

.barfly-landing-page .x001-1 {
  height: 361px;
  width: 320px;
}

.barfly-landing-page .x002-1 {
  height: 359px;
  margin-left: 29px;
  width: 311px;
}

.barfly-landing-page .x003-1 {
  height: 355px;
  margin-left: 34px;
  width: 303px;
}

.barfly-landing-page .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 50px;
  margin-right: 5.0px;
  margin-top: 18px;
  min-width: 969px;
}

.barfly-landing-page .search-the-area-wher {
  letter-spacing: 0.34px;
  line-height: 25px;
  min-height: 50px;
  text-align: center;
  width: 286px;
}

.barfly-landing-page .get-the-best-options {
  letter-spacing: 0.34px;
  line-height: 25px;
  margin-left: 52px;
  min-height: 50px;
  text-align: center;
  width: 304px;
}

.barfly-landing-page .receive-guidance-to {
  letter-spacing: 0.34px;
  line-height: 25px;
  margin-left: 45px;
  min-height: 50px;
  text-align: center;
  width: 282px;
}

.barfly-landing-page .group-104 {
  height: 52px;
  margin-right: 0.87px;
  margin-top: 41px;
  width: 156px;
}

.barfly-landing-page .frame-16 {
  display: flex;
  height: 640px;
  left: 150px;
  position: absolute;
  top: 1460px;
  width: 1141px;
}

.barfly-landing-page .frame-15 {
  display: flex;
  flex-direction: column;
  height: 613px;
  margin-top: 14px;
  width: 483px;
}

.barfly-landing-page .group-118 {
  display: flex;
  flex-direction: column;
  height: 59px;
  width: 473px;
}

.barfly-landing-page .how-does-barfly-work-for-you {
  height: 40px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
  width: 471px;
}

.barfly-landing-page .group-14 {
  height: 19px;
  margin-left: 128.9px;
  width: 155.8px;
}

.barfly-landing-page .just-enter-the-name {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: 81px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 20px;
  opacity: 0.7;
}

.barfly-landing-page .frame-9 {
  display: flex;
  flex-direction: column;
  height: 421px;
  margin-top: 32px;
  width: 473px;
}

.barfly-landing-page .group-15 {
  display: flex;
  width: 464px;
}

.barfly-landing-page .icons8-checkmark-1 {
  height: 19.3px;
  margin-left: -0.1px;
  margin-top: 3.9px;
  width: 19.3px;
}

.barfly-landing-page .access-the-real-time {
  height: 69px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.8px;
  opacity: 0.9;
  width: 433px;
}

.barfly-landing-page .group-20 {
  display: flex;
  margin-top: 24px;
  width: 448px;
}

.barfly-landing-page .icons8-checkmark {
  height: 19.14px;
  margin-left: -0.2px;
  margin-top: 4.4px;
  width: 19.14px;
}

.barfly-landing-page .choose-among-dozens {
  height: 52px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 10.0px;
  opacity: 0.9;
  width: 417px;
}

.barfly-landing-page .group-25 {
  display: flex;
  margin-top: 24px;
  width: 361px;
}

.barfly-landing-page .icons8-checkmark-2 {
  height: 19.3px;
  margin-left: -0.1px;
  margin-top: 4.5px;
  width: 19.3px;
}

.barfly-landing-page .view-high-quality-ph {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.8px;
  opacity: 0.9;
  white-space: nowrap;
  width: 330px;
}

.barfly-landing-page .group-18 {
  display: flex;
  margin-top: 24px;
  width: 363px;
}

.barfly-landing-page .see-how-expensive-th {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 10.0px;
  opacity: 0.9;
  white-space: nowrap;
  width: 332px;
}

.barfly-landing-page .group-24 {
  display: flex;
  margin-top: 24px;
  width: 438px;
}

.barfly-landing-page .icons8-checkmark-4 {
  height: 19.14px;
  margin-left: -0.2px;
  margin-top: 4.0px;
  width: 19.14px;
}

.barfly-landing-page .get-a-reliable-bar-r {
  height: 52px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 10.0px;
  opacity: 0.9;
  width: 407px;
}

.barfly-landing-page .group-19 {
  display: flex;
  margin-top: 24px;
  width: 475px;
}

.barfly-landing-page .icons8-checkmark-8 {
  height: 19.3px;
  margin-left: -0.1px;
  margin-top: 2.5px;
  width: 19.3px;
}

.barfly-landing-page .get-walk-drive-dir {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.8px;
  opacity: 0.9;
  white-space: nowrap;
  width: 444px;
}

.barfly-landing-page .group-26 {
  display: flex;
  margin-top: 24px;
  width: 421px;
}

.barfly-landing-page .icons8-checkmark-8-1 {
  height: 19.3px;
  margin-left: -0.1px;
  margin-top: 3.5px;
  width: 19.3px;
}

.barfly-landing-page .discover-it-all-on-a {
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 9.8px;
  opacity: 0.9;
  white-space: nowrap;
  width: 390px;
}

.barfly-landing-page .rectangle-259 {
  height: 640px;
  margin-left: 79px;
  object-fit: cover;
  width: 579px;
}

.barfly-landing-page .frame-28 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  height: 725px;
  left: 0;
  min-width: 1440px;
  padding: 20px 150px;
  position: absolute;
  top: 0;
}

.barfly-landing-page .group-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  min-height: 416px;
  width: 375px;
}

.barfly-landing-page .overlap-group {
  height: 31px;
  position: relative;
  width: 177px;
}

.barfly-landing-page .barfly {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 17.5px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 17.52px;
  position: absolute;
  text-align: center;
  top: 6px;
}

.barfly-landing-page .group-27 {
  border: 1.4px solid var(--white);
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 177px;
}

.barfly-landing-page .group-112 {
  display: flex;
  flex-direction: column;
  height: 304px;
  margin-top: 81px;
  width: 375px;
}

.barfly-landing-page .a-great-night-out-on-demand {
  color: var(--white);
  font-family: var(--font-family-urbanist);
  font-size: 56px;
  font-weight: 800;
  height: 180px;
  letter-spacing: 1.12px;
  line-height: 60px;
  width: 339px;
}

.barfly-landing-page .dont-leave-your-ent {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 15px;
  font-weight: 400;
  height: 18px;
  letter-spacing: 0;
  margin-top: 20px;
  opacity: 0.9;
  width: 371px;
}

.barfly-landing-page .group-111 {
  height: 54.45px;
  margin-left: -0.1px;
  margin-top: 32.0px;
  width: 162.88px;
}

.barfly-landing-page .frame-2 {
  background-color: var(--white);
  border-radius: 100px;
  display: flex;
  height: 40px;
  margin-left: 628px;
  width: 137px;
}

.barfly-landing-page .get-the-app {
  color: var(--main900);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xl);
  font-weight: 600;
  height: 16px;
  letter-spacing: 0;
  margin-left: 26px;
  margin-top: 12px;
  /* width: 85px; */
}

.barfly-landing-page .frame-29 {
  display: flex;
  height: 426px;
  margin-left: 1.0px;
  margin-top: 80px;
  width: 1139px;
}

.barfly-landing-page .group-115 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 426px;
  width: 1143px;
}

.barfly-landing-page .overlap-group-1 {
  height: 59px;
  margin-right: 2.0px;
  position: relative;
  width: 641px;
}

.barfly-landing-page .vector {
  height: 19px;
  left: 200px;
  position: absolute;
  top: 40px;
  width: 163px;
}

.barfly-landing-page .if-they-had-the-barf {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.barfly-landing-page .overlap-group-container {
  align-items: flex-start;
  display: flex;
  height: 320px;
  margin-right: 4.0px;
  margin-top: 47px;
  min-width: 1139px;
}

.barfly-landing-page .overlap-group2 {
  align-items: flex-start;
  background-color: var(--main900);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  padding: 24px 10px;
  width: 369px;
}

.barfly-landing-page .group-3 {
  height: 60px;
  width: 102px;
}

.barfly-landing-page .lips-are-kind-of-lik {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0.13px;
  line-height: 24px;
  margin-right: 3.0px;
  margin-top: 32px;
  min-height: 72px;
  opacity: 0.8;
  width: 320px;
}

.barfly-landing-page .group-32 {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-left: 13px;
  margin-top: 48px;
  width: 177px;
}

.barfly-landing-page .group-29 {
  display: flex;
  flex-direction: column;
  height: 44px;
  margin-left: 70px;
  margin-top: 8px;
  width: 111px;
}

.barfly-landing-page .name {
  height: 20px;
  letter-spacing: 0.34px;
  /* width: 107px; */
}

.barfly-landing-page .american-model {
  height: 23px;
  letter-spacing: 0.24px;
  line-height: 23px;
  margin-top: 1px;
  opacity: 0.4;
  white-space: nowrap;
  width: 100px;
}

.barfly-landing-page .ellipse-2 {
  height: 60px;
  margin-top: -52px;
  object-fit: cover;
  width: 60px;
}

.barfly-landing-page .group {
  align-items: flex-start;
  background-color: var(--main900);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-height: 320px;
  padding: 24px 10px;
  width: 369px;
}

.barfly-landing-page .overlap-group1 {
  align-self: flex-end;
  height: 72px;
  margin-right: 14px;
  margin-top: 32px;
  position: relative;
  width: 320px;
}

.barfly-landing-page .you-better-realize-y {
  left: 0;
  letter-spacing: 0.12px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 320px;
}

.barfly-landing-page .x61fb0fc9ae2d48366a9c45f0_emoji-fire-1-2 {
  height: 14px;
  left: 138px;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 14px;
}

.barfly-landing-page .group-33 {
  display: flex;
  margin-left: 15px;
  margin-top: 48px;
  width: 172px;
}

.barfly-landing-page .group-30 {
  display: flex;
  flex-direction: column;
  height: 44px;
  margin-left: 70px;
  margin-top: 8px;
  width: 106px;
}

.barfly-landing-page .cardi-b {
  height: 20px;
  letter-spacing: 0.34px;
  width: 63px;
}

.barfly-landing-page .american-rapper {
  height: 23px;
  letter-spacing: 0.24px;
  line-height: 23px;
  margin-top: 1px;
  opacity: 0.4;
  white-space: nowrap;
  width: 102px;
}

.barfly-landing-page .ellipse-3 {
  height: 60px;
  margin-left: -176px;
  object-fit: cover;
  width: 60px;
}

.barfly-landing-page .barfly-k-os-the-barri {
  align-self: flex-end;
  letter-spacing: 0.12px;
  line-height: 24px;
  margin-right: 14px;
  margin-top: 32px;
  min-height: 72px;
  opacity: 0.8;
  width: 320px;
}

.barfly-landing-page .group-106 {
  display: flex;
  margin-left: 14px;
  margin-top: 48px;
  width: 217px;
}

.barfly-landing-page .group-30-1 {
  display: flex;
  flex-direction: column;
  height: 44px;
  margin-left: 70px;
  margin-top: 8px;
  width: 151px;
}

.barfly-landing-page .name-1 {
  height: 20px;
  letter-spacing: 0.34px;
  width: 147px;
}

.barfly-landing-page .american-actor {
  height: 23px;
  letter-spacing: 0.24px;
  line-height: 23px;
  margin-top: 1px;
  opacity: 0.4;
  white-space: nowrap;
  width: 94px;
}

.barfly-landing-page .ellipse-3-1 {
  height: 60px;
  margin-left: -221px;
  object-fit: cover;
  width: 60px;
}

.barfly-landing-page .frame-30 {
  background-image: url(../img/rectangle-263@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-top: 80px;
  width: 1440px;
}

.barfly-landing-page .alexander-popov-2-gn {
  height: 399px;
  margin-left: 151px;
  width: 547px;
}

.barfly-landing-page .group-119 {
  display: flex;
  flex-direction: column;
  height: 172px;
  margin-left: 95px;
  margin-top: 114px;
  width: 300px;
}

.barfly-landing-page .find-your-bar {
  color: var(--white);
  font-family: var(--font-family-urbanist);
  font-size: 18px;
  font-weight: 600;
  height: 22px;
  letter-spacing: 1.08px;
  /* width: 118px; */
}

.barfly-landing-page .group-105 {
  display: flex;
  flex-direction: column;
  height: 142px;
  margin-top: 8px;
  width: 298px;
}

.barfly-landing-page .group-39 {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 300px;
}

.barfly-landing-page .download-barfly {
  height: 40px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
  width: 268px;
}

.barfly-landing-page .group-14-1 {
  height: 20px;
  margin-left: 134px;
  width: 164px;
}

.barfly-landing-page .download_on_the_-app {
  height: 52px;
  margin-left: -0.2px;
  margin-top: 30px;
  width: 155.56px;
}

.barfly-landing-page .frame-9-1 {
  align-items: center;
  background-color: var(--main800);
  display: flex;
  flex-direction: column;
  min-height: 212px;
  padding: 16px 146px;
  width: 1440px;
}

.barfly-landing-page .group-container-2 {
  align-items: center;
  display: flex;
  margin-top: 43px;
  min-width: 1140px;
}

.barfly-landing-page .group-38 {
  display: flex;
  width: 207px;
}

.barfly-landing-page .frame-1 {
  align-items: flex-end;
  display: flex;
  height: 35px;
  min-width: 207.08px;
}

.barfly-landing-page .overlap-group1-1 {
  height: 37px;
  margin-bottom: -1.65px;
  position: relative;
  width: 207px;
}

.barfly-landing-page .barfly-1 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 20.5px;
  font-weight: 500;
  left: 14px;
  letter-spacing: 20.50px;
  position: absolute;
  text-align: center;
  top: 6px;
}

.barfly-landing-page .overlap-group-2 {
  align-items: flex-start;
  border: 1.6px solid var(--white);
  display: flex;
  height: 37px;
  left: 0;
  min-width: 207px;
  padding: 5.4px 14.4px;
  position: absolute;
  top: 0;
}

.barfly-landing-page .barfly-2 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 20.00px;
  min-height: 23px;
  min-width: 174px;
  text-align: center;
  display: none;
}

.barfly-landing-page .group-45 {
  display: flex;
  margin-left: 781px;
  width: 152px;
}

.barfly-landing-page .group-44 {
  display: flex;
  width: 154px;
}

.barfly-landing-page .instagram {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxxxl);
  font-weight: 500;
  height: 25px;
  letter-spacing: 0.44px;
  line-height: 25px;
  margin-left: 40px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: 112px;
}

.barfly-landing-page .x620184c62b5f205ab97e {
  height: 24px;
  margin-left: -152px;
  margin-top: 0.8px;
  width: 24px;
}

.barfly-landing-page .vector-1 {
  height: 1px;
  margin-top: 58px;
  width: 1140px;
}

.barfly-landing-page .flex-row-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 29px;
  margin-top: 14px;
  min-width: 1144px;
}

.barfly-landing-page .address {
  letter-spacing: 0.60px;
  line-height: 28px;
  min-height: 28px;
  min-width: 326px;
  opacity: 0.5;
  white-space: nowrap;
}

.barfly-landing-page .group-46 {
  align-self: flex-end;
  display: flex;
  margin-left: 578px;
  opacity: 0.6;
  width: 240px;
}

.barfly-landing-page .privacy-policy {
  height: 28px;
  letter-spacing: 0.60px;
  line-height: 28px;
  opacity: 0.5;
  white-space: nowrap;
  width: 87px;
}

.barfly-landing-page .terms-of-service {
  height: 28px;
  letter-spacing: 0.60px;
  line-height: 28px;
  margin-left: 42px;
  opacity: 0.5;
  white-space: nowrap;
  width: 107px;
}
/* screen - responsive */

.responsive {
  align-items: center;
  background-color: var(--main900);
  display: flex;
  flex-direction: column;
  height: 5085px;
  width: 375px;
}

.responsive .frame-container {
  height: 2151px;
  position: relative;
  width: 375px;
}

.responsive .frame-26 {
  background-image: url(../img/rectangle-268@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 612px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.responsive .frame-10 {
  align-items: flex-end;
  display: flex;
  height: 26.2px;
  margin-left: 24px;
  margin-top: 41.9px;
  min-width: 155px;
}

.responsive .overlap-group-4 {
  height: 27px;
  margin-bottom: -1.24px;
  position: relative;
  width: 155px;
}

.responsive .barfly-3 {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 15.3px;
  font-weight: 500;
  left: 11px;
  letter-spacing: 15.34px;
  position: absolute;
  text-align: center;
  top: 6px;
}

.responsive .group-27-1 {
  border: 1.2px solid var(--white);
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 155px;
}

.responsive .group-112-1 {
  display: flex;
  flex-direction: column;
  height: 243.46px;
  margin-left: 24px;
  margin-top: 81.9px;
  width: 301px;
}

.responsive .a-great-night-out-on-demand-1 {
  color: var(--white);
  font-family: var(--font-family-urbanist);
  font-size: 44px;
  font-weight: 800;
  height: 144px;
  letter-spacing: 0.88px;
  line-height: 48px;
  width: 266px;
}

.responsive .dont-leave-your-ent-1 {
  height: 14px;
  letter-spacing: 0;
  margin-top: 15.6px;
  opacity: 0.9;
  width: 297px;
}

.responsive .group-111-1 {
  height: 44px;
  margin-left: 24px;
  margin-top: 25.6px;
  width: 130px;
}

.responsive .frame-20 {
  background-color: var(--main800);
  border-radius: 8px;
  display: flex;
  height: 1678px;
  left: 24px;
  position: absolute;
  top: 473px;
  width: 327px;
}

.responsive .frame-19 {
  display: flex;
  flex-direction: column;
  height: 1597.77px;
  margin-left: 17px;
  margin-top: 40px;
  width: 293px;
}

.responsive .frame-3-1 {
  display: flex;
  flex-direction: column;
  height: 108px;
}

.responsive .finding-your-bar-is-easy-1 {
  height: 40px;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 25.5px;
  text-align: center;
  white-space: nowrap;
  width: 242px;
}

.responsive .barfly-shows-you-whi-1 {
  height: 60px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 8px;
  opacity: 0.7;
  text-align: center;
  width: 293px;
}

.responsive .frame-18 {
  display: flex;
  flex-direction: column;
  height: 1373.77px;
  margin-left: 6.5px;
  margin-top: 36px;
  width: 280px;
}

.responsive .group-121 {
  display: flex;
  flex-direction: column;
  height: 431.38px;
  width: 283.53px;
}

.responsive .step-1-1 {
  height: 22px;
  letter-spacing: 0.36px;
  line-height: 21.8px;
  margin-left: 112px;
  text-align: center;
  white-space: nowrap;
  width: 56px;
}

.responsive .group-11-1 {
  height: 17.47px;
  margin-left: 68.0px;
  margin-top: 8.3px;
  width: 143.26px;
}

.responsive .x001-1-1 {
  height: 315.34px;
  margin-left: -0.2px;
  margin-top: 8.2px;
  width: 279.53px;
}

.responsive .search-the-area-wher-1 {
  height: 44px;
  letter-spacing: 0.28px;
  line-height: 21.8px;
  margin-left: 15px;
  margin-top: 16.1px;
  text-align: center;
  width: 249.83px;
}

.responsive .group-125 {
  display: flex;
  flex-direction: column;
  height: 431.38px;
  margin-top: 40px;
  width: 284px;
}

.responsive .step {
  height: 22px;
  letter-spacing: 0.36px;
  line-height: 21.8px;
  margin-left: 110px;
  text-align: center;
  white-space: nowrap;
  width: 59px;
}

.responsive .group-1 {
  height: 17.47px;
  margin-left: 68.0px;
  margin-top: 8.3px;
  width: 143.26px;
}

.responsive .x002-2 {
  height: 323.22px;
  margin-top: 7.7px;
  width: 280px;
}

.responsive .get-the-best-options-1 {
  height: 44px;
  letter-spacing: 0.28px;
  line-height: 21.8px;
  margin-left: 15px;
  margin-top: 8.7px;
  text-align: center;
  width: 249.83px;
}

.responsive .group-126 {
  display: flex;
  flex-direction: column;
  height: 431px;
  margin-top: 40px;
  width: 276px;
}

.responsive .x003-1-1 {
  height: 318.68px;
  margin-top: 10.1px;
  width: 272px;
}

.responsive .receive-guidance-to-1 {
  height: 44px;
  letter-spacing: 0.28px;
  line-height: 21.8px;
  margin-left: 24px;
  margin-top: 10.5px;
  text-align: center;
  width: 232px;
}

.responsive .group-111-2 {
  height: 44px;
  margin-left: 81.5px;
  margin-top: 35.8px;
  width: 130px;
}

.responsive .frame-21 {
  display: flex;
  flex-direction: column;
  height: 967px;
  margin-top: 48px;
  width: 327px;
}

.responsive .frame-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 108px;
}

.responsive .overlap-group-5 {
  height: 47px;
  margin-left: 1.5px;
  margin-top: -1px;
  position: relative;
  width: 324px;
}

.responsive .how-does-barfly-work-for-you-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.responsive .vector-2 {
  height: 12px;
  left: 92px;
  position: absolute;
  top: 35px;
  width: 100px;
}

.responsive .just-enter-the-name-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: -8px;
  margin-top: 5px;
  min-height: 60px;
  opacity: 0.7;
  text-align: center;
  width: 343px;
}

.responsive .rectangle-260 {
  height: 361.45px;
  margin-top: 32.0px;
  object-fit: cover;
  width: 327px;
}

.responsive .frame-10-1 {
  display: flex;
  flex-direction: column;
  height: 433.81px;
  margin-top: 32.0px;
}

.responsive .group-15-1 {
  display: flex;
  width: 329px;
}

.responsive .icons8-checkmark-1-1 {
  height: 19.3px;
  margin-left: -0.1px;
  margin-top: 2.6px;
  width: 19.3px;
}

.responsive .access-the-real-time-1 {
  height: 69px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.8px;
  opacity: 0.9;
  width: 298px;
}

.responsive .group-2 {
  display: flex;
  margin-top: 24px;
  width: 329px;
}

.responsive .icons8-checkmark-1-2 {
  height: 19.14px;
  margin-left: -0.2px;
  margin-top: 2.4px;
  width: 19.14px;
}

.responsive .choose-among-dozens-1 {
  height: 44px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 10.0px;
  opacity: 0.9;
  width: 298px;
}

.responsive .group-25-1 {
  display: flex;
  height: 22.81px;
  margin-top: 24px;
  width: 329px;
}

.responsive .icons8-checkmark-2-1 {
  height: 19.3px;
  margin-left: -0.1px;
  margin-top: 3.2px;
  width: 19.3px;
}

.responsive .view-high-quality-ph-1 {
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.8px;
  opacity: 0.9;
  white-space: nowrap;
  width: 298px;
}

.responsive .group-1-1 {
  display: flex;
  margin-top: 24.0px;
  width: 329px;
}

.responsive .icons8-checkmark-3 {
  height: 19.14px;
  margin-left: -0.2px;
  margin-top: 2.7px;
  width: 19.14px;
}

.responsive .see-how-expensive-th-1 {
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 10.0px;
  opacity: 0.9;
  white-space: nowrap;
  width: 298px;
}

.responsive .icons8-checkmark-4-1 {
  height: 19.14px;
  margin-left: -0.2px;
  margin-top: 3.8px;
  width: 19.14px;
}

.responsive .get-a-reliable-bar-r-1 {
  height: 44px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 10.0px;
  opacity: 0.9;
  width: 298px;
}

.responsive .icons8-checkmark-8-2 {
  height: 19.3px;
  margin-left: -0.1px;
  margin-top: 2.3px;
  width: 19.3px;
}

.responsive .get-walk-drive-dir-1 {
  height: 44px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.8px;
  opacity: 0.9;
  width: 298px;
}

.responsive .icons8-checkmark-8-3 {
  height: 19.3px;
  margin-left: -0.1px;
  margin-top: 2.8px;
  width: 19.3px;
}

.responsive .discover-it-all-on-a-1 {
  height: 44px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 9.8px;
  opacity: 0.9;
  width: 298px;
}

.responsive .frame-24 {
  background-color: var(--main800);
  display: flex;
  height: 1089px;
  margin-top: 50px;
  width: 375px;
}

.responsive .frame-23 {
  display: flex;
  flex-direction: column;
  height: 993px;
  margin-left: 21px;
  margin-top: 48px;
  width: 333px;
}

.responsive .group-127 {
  align-items: flex-start;
  display: flex;
  min-width: 335px;
}

.responsive .overlap-group-6 {
  height: 80px;
  position: relative;
  width: 333px;
}

.responsive .if-they-had-the-barf-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 333px;
}

.responsive .vector-3 {
  height: 11px;
  left: 146px;
  position: absolute;
  top: 34px;
  width: 94px;
}

.responsive .frame-22 {
  display: flex;
  flex-direction: column;
  height: 881px;
  margin-left: 3px;
  margin-top: 32px;
  width: 327px;
}

.responsive .group-123 {
  align-items: flex-start;
  display: flex;
  height: 283px;
  min-width: 329px;
}

.responsive .overlap-group-3 {
  align-items: flex-start;
  background-color: var(--main900);
  border-radius: 14.18px;
  display: flex;
  flex-direction: column;
  min-height: 283px;
  padding: 20px 8.6px;
  width: 327px;
}

.responsive .group-35 {
  height: 53px;
  margin-top: 1px;
  width: 90px;
}

.responsive .lips-are-kind-of-lik-1 {
  align-self: flex-end;
  letter-spacing: 0.12px;
  line-height: 21.3px;
  margin-right: 6.44px;
  margin-top: 29px;
  min-height: 64px;
  opacity: 0.8;
  width: 292px;
}

.responsive .group-32-1 {
  display: flex;
  margin-left: 11.82px;
  margin-top: 42px;
  width: 165px;
}

.responsive .ellipse-2-1 {
  height: 54px;
  margin-left: -0.2px;
  object-fit: cover;
  width: 54px;
}

.responsive .group-29-1 {
  display: flex;
  margin-left: 10.2px;
  margin-top: 6px;
  width: 101px;
}

.responsive .group-124 {
  display: flex;
  flex-direction: column;
  height: 42px;
  width: 105px;
}

.responsive .name-2 {
  height: 19px;
  letter-spacing: 0.32px;
  width: 101px;
}

.responsive .american-model-1 {
  height: 21px;
  letter-spacing: 0.22px;
  line-height: 20.4px;
  margin-top: 2px;
  opacity: 0.4;
  white-space: nowrap;
  width: 91px;
}

.responsive .group-12-1 {
  align-items: flex-start;
  display: flex;
  height: 283px;
  margin-top: 16px;
  min-width: 329px;
}

.responsive .you-better-realize-y-1 {
  align-self: flex-end;
  letter-spacing: 0.12px;
  line-height: 21.3px;
  margin-right: 6.44px;
  margin-top: 29px;
  min-height: 64px;
  opacity: 0.8;
  width: 292px;
}

.responsive .group-32-2 {
  display: flex;
  margin-left: 11.82px;
  margin-top: 42px;
  width: 157px;
}

.responsive .group-29-2 {
  display: flex;
  margin-left: 10.2px;
  margin-top: 6px;
  width: 93px;
}

.responsive .group-124-1 {
  display: flex;
  flex-direction: column;
  height: 42px;
  width: 97px;
}

.responsive .cardi-b-1 {
  height: 19px;
  letter-spacing: 0.32px;
  width: 60px;
}

.responsive .american-rapper-1 {
  height: 21px;
  letter-spacing: 0.22px;
  line-height: 20.4px;
  margin-top: 2px;
  opacity: 0.4;
  white-space: nowrap;
  width: 93px;
}

.responsive .barfly-k-os-the-barri-1 {
  align-self: flex-end;
  letter-spacing: 0.12px;
  line-height: 21.3px;
  margin-right: 6.44px;
  margin-top: 29px;
  min-height: 67px;
  opacity: 0.8;
  width: 292px;
}

.responsive .group-32-3 {
  display: flex;
  margin-left: 11.82px;
  margin-top: 39px;
  width: 202px;
}

.responsive .group-29-3 {
  display: flex;
  margin-left: 10.2px;
  margin-top: 6px;
  width: 138px;
}

.responsive .group-124-2 {
  display: flex;
  flex-direction: column;
  height: 42px;
  width: 142px;
}

.responsive .name-3 {
  height: 19px;
  letter-spacing: 0.32px;
  width: 139px;
}

.responsive .american-actor-1 {
  height: 21px;
  letter-spacing: 0.22px;
  line-height: 20.4px;
  margin-top: 2px;
  opacity: 0.4;
  white-space: nowrap;
  width: 86px;
}

.responsive .frame-25 {
  display: flex;
  flex-direction: column;
  height: 403px;
  margin-top: 49px;
  width: 327px;
}

.responsive .group-130 {
  display: flex;
  flex-direction: column;
  height: 64.63px;
  margin-left: 60.1px;
  width: 208.77px;
}

.responsive .find-your-bar-1 {
  color: var(--white);
  font-family: var(--font-family-urbanist);
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 14px;
  letter-spacing: 0.72px;
  margin-left: 64px;
  width: 80px;
  margin-bottom: 10px;
}

.responsive .group-39-1 {
  align-items: flex-start;
  display: flex;
  height: 43.09px;
  margin-top: 7.5px;
  min-width: 208.77px;
}

.responsive .overlap-group-7 {
  height: 43px;
  position: relative;
  width: 207px;
}

.responsive .download-barfly-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 28.7px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.responsive .group-14-2 {
  height: 14px;
  left: 89px;
  position: absolute;
  top: 28px;
  width: 118px;
}

.responsive .group-129 {
  height: 44px;
  margin-left: 98.5px;
  margin-top: 27.8px;
  width: 130px;
}

.responsive .alexander-popov-2-gn-1 {
  height: 238.52px;
  margin-top: 28.0px;
  width: 327px;
}

.responsive .overlap-group5-1 {
  align-items: flex-start;
  background-color: var(--main800);
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  min-height: 280px;
  padding: 20px 24px;
  width: 375px;
}

.responsive .overlap-group3 {
  height: 27px;
  margin-top: 21px;
  position: relative;
  width: 155px;
}

.responsive .group-45-1 {
  display: flex;
  margin-top: 31px;
  width: 125px;
}

.responsive .group-44-1 {
  display: flex;
  width: 126.89px;
}

.responsive .x620184c62b5f205ab97e-1 {
  height: 19.74px;
  margin-left: -0.1px;
  margin-top: 0.7px;
  width: 19.74px;
}

.responsive .instagram-1 {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-work_sans);
  font-size: 18px;
  font-weight: 500;
  height: 21px;
  letter-spacing: 0.36px;
  line-height: 20.6px;
  margin-left: 13.3px;
  margin-top: 0;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: 92px;
}

.responsive .frame-17 {
  display: flex;
  flex-direction: column;
  height: 98px;
  margin-top: 42px;
  width: 326px;
}

.responsive .address-1 {
  height: 28px;
  letter-spacing: 0.60px;
  line-height: 28px;
  opacity: 0.5;
  white-space: nowrap;
}

.responsive .privacy-policy-1 {
  height: 28px;
  letter-spacing: 0.60px;
  line-height: 28px;
  margin-top: 7px;
  opacity: 0.5;
  white-space: nowrap;
  width: 87px;
}

.responsive .terms-of-service-1 {
  height: 28px;
  letter-spacing: 0.60px;
  line-height: 28px;
  margin-top: 7px;
  opacity: 0.5;
  white-space: nowrap;
  width: 107px;
}
@media screen and (max-width: 1439px) {
  .screen.barfly-landing-page { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.responsive { 
    display: none;
   }
}

@media only screen and (max-width: 600px) {
    .responsive .cardi-b-1 {
       width: 70px;
    }
    .responsive .find-your-bar-1 {
       margin-left: 0px;
       width: 100%;
       text-align: center;
	}
}